.postHeaderContainer {
  display: flex;
  flex-direction: column;
}

.authorContainer {
  display: flex;
  align-items: center;
}

.postInfo {
  display: flex;
  flex-direction: column;
  height: 32px;
  margin: 10px;
}

.postDate {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #9a9a9a;
}

.postContent {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #3e3e3e;
}
