html,
body,
#root {
  margin: 0px;
  padding: 0px;
  outline: 0px;
  background-color: #f2f2f2;
  font-family: "Roboto", sans-serif;
}

.userImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 5px;
}
